{% load static %}
<section class="hero-section">
    <div class="hero-section-container">
        <div class="name">Wiz M</div>
        <div class="hero-section-sub-container">
            <div class="hero-section-col1">
                <div>About</div>
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae rerum reiciendis placeat modi cum fugiat repellendus dicta! A, assumenda culpa, minus repellat ipsam iusto temporibus corrupti impedit aperiam quo facere?
                    <a href="http://">See more ...</a>
                </div>
            </div>
            <div class="hero-section-col2">
                <div>Social</div>
                <div>
                    <div>GitHub</div>
                    <div>Facebook</div>
                    <div>Twitter</div>
                    <div>LinkedIn</div>
                </div>
            </div>
        </div>
    </div>


    <div class="recent-blog-articles">
        <div class="article-recent">
            <div><img src="" alt=""></div>
            <div>article</div>
        </div>
        <div class="article-recent">
            <div><img src="" alt=""></div>
            <div>article</div>
        </div>
        <div class="article-recent">
            <div><img src="" alt=""></div>
            <div>article</div>
        </div>
        <div class="article-recent">
            <div><img src="" alt=""></div>
            <div>article</div>
        </div>
    </div>
</section>